Icon?
*.*~
*.pyc
*.pov
*.aux
*.log
*.snm
*.bbl
*.pdf
*.PDF
*.ps
*.dvi
*.blg
*.lof
*.lot
*.out
*.pdfsync
*.tdo
*.toc
#beamer
*.nav
#verbatim env
*.vrb
*.xdv
*.gz_temp
#
*.jpeg
*.JPEG
*.jpg
*.JPG
*.png
*.PNG
*.eps
*.EPS
*.svg
*.SVG
*.pdf_tex
*.tif
*.TIF
*.tiff
*.TIFF
*.gif
*.GIF
*.cdr
*.CDR
*.bmp
*.BMP
*.emf
*.EMF
*.tim
*.ipt
*.ipa
#
*.dot
*.mat
*.fig
#
*.doc
*.docx
*.xls
*.rtf
*.ppt
#
*.tar
*.gz
*.rar
*.zip
*.7z
#openstreetmap
*.osm
#
*.exe
*.dll
*.msi
*.ini
*.db
*.lnk
*.dmg
#
*.avi
*.wav
*.mwv
*.mp3
*.mp4

*.egg-info
.DS_Store
